.height--mini {
  min-height: 232px !important;
}

.height--standart {
  min-height: 340px !important;
}

.height--big {
  min-height: 400px !important;
  @include layout-medium-and-up {
    min-height: 400px !important;
  }
}

.height--50vh, .height--50vh .media-container {
  min-height: 480px !important;
  @include layout-medium-and-up {
    min-height: 640px !important;
  }
}

.height--60vh {
  min-height: 580px !important;
  @include layout-medium-and-up {
    min-height: 740px !important;
  }
}

.height--60vh {
  min-height: 480px !important;
  @include layout-medium-and-up {
    min-height: 740px !important;
  }
}

.media-container {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.col-container {
  //background-color: red;
  margin-left: auto;
  margin-right: auto;

}

.title-holder {
  [class*='col'] {
    padding-bottom: 0;
    position: relative;
  }
  padding-top: 120px;
}

.header-bottom {
  width: 100%;
  position: relative;
}

.subheader-filters {
}

.back-nav-container {
  position: relative;
}

.big-icons .md-icon.material-icons, .big-icon.material-icons {
  font-size: 32px;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
}

#back-nav {
  margin-top: 28px;
  margin-left: -16px;

  @include layout-large-and-up {
    margin-left: 0;
  }

  .md-button {
    .md-icon {
      //opacity: 0.6;
      transition: opacity 0.2s ease;
    }
    &:hover {
      .md-icon {
        opacity: 1;
      }
    }
  }
}

.back-nav.md-menu-content {
  //max-width: 300px;
  //width: auto;
}

.header-title, h1.header-title {
  //color: rgba(#fff, 0.99) !important;
  text-shadow: 1px 0 1px rgba(#000, 0.05);
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 500;
  //padding-top:80px;
  @include layout-small-and-up {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.banner-title {
  text-shadow: 1px 0 1px rgba(#000, 0.05);
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 500;
  @include layout-small-and-up {
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 24px;
  }
}
.cards--banners{
  .col{
    min-width:280px;
  }
}
.card--banner {
  .block-content {
    padding:40px 20px;
    @include layout-small-and-up {
      padding:40px;
    }
    @include layout-large-and-up {
      padding:80px;
    }
  }
  .banner-title {
    font-size: 24px!important;
    font-weight: 500;
  }
}