{#<link href="http://localhost:3000/dist/main.css" rel="stylesheet"/>#}
<link href="{{ craft.config.environmentVariables.assetsUrl }}main.css" rel="stylesheet"/>
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/main.css" rel="stylesheet"/>#}
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/vue-material.css" rel="stylesheet"/>#}
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/vue-material.css" rel="stylesheet"/>#}
{#<link href="{{ craft.config.environmentVariables.baseUrl }}assets/styles/custom.css" rel="stylesheet"/>#}
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
{#<link href="//fonts.googleapis.com/css?family=Noto:100,100i,300,300i,400,400i,500,500i,700,700rel="stylesheet">#}
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="home" href="{{ siteUrl }}"/>