<social-sharing url="{{ current.url }}" inline-template>
    <div>
        <network network="facebook">
            <md-icon class="md-size-1x facebook-color" md-src="{{ craft.config.environmentVariables.baseUrl }}assets/icons/facebook.svg"></md-icon>
        </network>
        <network network="twitter">
            <md-icon class="md-size-1x twitter-color" md-src="{{ craft.config.environmentVariables.baseUrl }}assets/icons/twitter.svg"></md-icon>
        </network>
        <network network="linkedin">
            <md-icon class="md-size-1x linkedin-color" md-src="{{ craft.config.environmentVariables.baseUrl }}assets/icons/linkedin.svg"></md-icon>
        </network>
    </div>
</social-sharing>
