.p-v-s,.p-v,.p-v-{
  padding-top:80px;
  padding-bottom:80px;
}
.m-v-s,.m-v,.m-v-{
  margin-top:0px;
  margin-bottom:0px;
}

.p-v-0{
  padding-top:0px!important;
  padding-bottom:0px!important;
}
.p-v-20{
  padding-top:20px;
  padding-bottom:20px;
}
.p-v-40{
  padding-top:40px;
  padding-bottom:40px;
}
.p-v-60{
  padding-top:60px;
  padding-bottom:60px;
}
.p-v-80{
  padding-top:80px!important;
  padding-bottom:80px!important;
}
.p-v-120{
  padding-top:120px;
  padding-bottom:120px;
}


.p-t-40{
  padding-top:40px;
}
.p-b-40{
  padding-bottom:40px;
}
.m-t-40{
  margin-top:40px;
}
.m-t-80{
  margin-top:80px;
}
.m-b-40{
  margin-bottom:40px;
}


.m-v-0{
  margin-top:0px;
  margin-bottom:0px;
}
.m-v-40{
  margin-top:40px;
  margin-bottom:40px;
}
.m-v-60{
  margin-top:60px;
  margin-bottom:60px;
}
.m-v-80{
  margin-top:80px;
  margin-bottom:80px;
}
.m-v-120{
  margin-top:120px;
  margin-bottom:120px;
}

.m-t-20{
  margin-top:20px;
}
.m-b-20{
  margin-bottom:20px;
}