
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-xs {
  font-size: 10px;
  line-height: 1.3;
}

.text-ht {
  opacity: 0.5;
}

.text-bold {
  font-weight: bold;
}

.title-micro {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.no-wrap{
  white-space: nowrap;
}

.text-green{
  color:green!important;
}