@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .aspect,.img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

video {
  max-width: 100%;
  height: auto;
}

.video-container {
  background-color: #555;
  @include aspect-ratio(16, 9);
}

.video-container iframe,
.video-container object,
.video-container embed {
  width: 100%;
  height: 100%;
}
