{#<md-card-actions>#}
    {% if not (contact.contactTel1 or contact.contactTel2 or contact.contactTel3) %}
        {#<md-divider class="md-inset"></md-divider>#}
        <md-card-actions>
            <md-icon>phone</md-icon>
            <span>{{ globalContacts.contactTel1 }}</span>
        </md-card-actions>
    {% endif %}
    {% if contact.contactTel1 %}
        {#<md-divider class="md-inset"></md-divider>#}
        <md-card-actions>
            <md-icon>phone</md-icon>
            <span>{{ contact.contactTel1 }}</span>
        </md-card-actions>
    {% endif %}
    {% if contact.contactTel2 %}
        <md-card-actions>
            <md-icon>phone</md-icon>
            <span>{{ contact.contactTel2 }}</span>
        </md-card-actions>
    {% endif %}
    {% if contact.contactTel3 %}
        {#<md-divider class="md-inset"></md-divider>#}
        <md-card-actions>
            <md-icon>phone</md-icon>
            <span>{{ contact.contactTel3 }}</span>
        </md-card-actions>
    {% endif %}
    {% if contact.contactFax %}
        <md-card-actions>
            <md-icon>phone</md-icon>
            <span>{{ contact.contactFax }}</span>
        </md-card-actions>
    {% endif %}
    {#<md-divider class="md-inset"></md-divider>#}
    {#<md-list-item href="mailto:{{ contact.contactEmail ? contact.contactEmail ~ ',' | replace (' ','') }}{{ globalContacts.contactEmail | replace (' ','') }}">#}
        {#<md-icon>send</md-icon>#}
        {#<span>{{ contact.contactEmail ? contact.contactEmail : globalContacts.contactEmail }}</span>#}
    {#</md-list-item>#}
{#</md-card-actions>#}
