{#<script src="http://localhost:3000/dist/main.js"></script>#}
<script src="{{ craft.config.environmentVariables.assetsUrl }}main.js"></script>
{#<script src="{{ craft.config.environmentVariables.baseUrl }}dist/main.js"></script>#}
{#<script src="{{ craft.config.environmentVariables.baseUrl }}assets/scripts/main.js"></script>#}
{#<script src="{{ craft.config.environmentVariables.baseUrl }}assets/scripts/vue-material.js"></script>#}
{#<script src="{{ craft.config.environmentVariables.baseUrl }}assets/scripts/app.js"></script>#}