{% extends "_page.html" %}
{% block content %}


    {#<section class="section m-t-40">#}
    {#<md-tabs>#}
    {#<md-tab id="experts" @click.native="console.log('tab')" md-label="{{ 'Experts'|t }}">#}
    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod#}
    {#saepe reiciendis nihil.</p>#}
    {#</md-tab>#}

    {#<md-tab id="industries" md-label="{{ 'Industries'|t }}">#}
    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod#}
    {#saepe reiciendis nihil.</p>#}

    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod#}
    {#saepe reiciendis nihil.</p>#}
    {#</md-tab>#}

    {#<md-tab id="projects" md-label="{{ 'Business cases'|t }}">#}
    {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>#}
    {#</md-tab>#}

    {#</md-tabs>#}
    {#</section>#}




    {% include('matrix/_matrix.html') %}
{% endblock %}