<div class="service-directions">
{% for item in subservices %}
    {#{% if item.Short|length or item.fullText|length %}#}
    {% if true %}
        <collapse :selected=false class="">
            <div slot="collapse-header">
                <div class="md-collapse-header-text">
                    <div class="md-title">{{ item.title }}</div>
                </div>
                <md-icon>chevron_right</md-icon>
            </div>
            <div slot="collapse-body">
                <div class="md-collapse-body-content">
                    <div class="html-content">{{ item.Short }}</div>
                    <div class="html-content">{{ item.fullText }}</div>
                </div>
                <div class="actions">{% include "inc/_request-button.html" with {'label':'Details'|t} %}</div>
            </div>
        </collapse>
    {% else %}
        <div class="md-collapse md-collapse-item md-whiteframe md-whiteframe-1dp">
            <div class="md-collapse-header touchable">
                <div>
                    <div class="md-collapse-header-text">
                        <div class="md-title">{{ item.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
