{% if banner.styleThemeObject|length %}
    {% set bannerTheme = 'ct' ~  banner.styleThemeObject[0].id %}
    {% set bannerIconTheme = '' %}
{% else %}
    {% set bannerIconTheme = '' %}
    {% set bannerTheme = headerTheme %}
{% endif %}

{#<div class="block banner md-theme-{{ bannerTheme }} height--{{ banner.styleHeight | default('50vh') }}">#}
<div class="block banner md-theme-{{ bannerTheme }}">
    {% if banner.styleImg|length %}
        <div class="block-img backdrop-1" style="background-image:url({{ banner.styleImg|length ? banner.styleImg[0].getUrl() }})"></div>
    {% endif %}
    {% if banner.styleIcon and not banner.styleImg|length %}
        <div v-in-viewport class="block-icon icons--themed {{ bannerIconTheme }} icon-color--{{ banner.styleIconColor | default('2c') }} icon-ani--{{ banner.styleIconAnimation | default('draw') }} align--{{ banner.styleIconAlign | default('center') }} valign--{{ banner.styleIconAlignV | default('center') }} scale--{{ banner.styleIconSize | default('x1') }} icon-sw--{{ banner.styleIconLine | default('x2') }}">{{ banner.styleIcon.inline }}</div>
    {% endif %}


    <div class="block-content {{ banner.styleImg|length ? 'over-img' }} valign--{{ banner.blockContentAlignV}}">
        <div class="ctr">
            <div class="grid-{{ banner.blockContentAlign}}">
                <div class="col-7_xs-12_sm-9_md-8 text-{{ banner.blockContentAlign}}">
                    <div class="banner-digit">{{ banner.bannerDigit }}</div>
                    <div class="banner-title">{{ banner.blockTitle }}</div>
                    <div class="banner-short">{{ banner.blockShort }}</div>
                    {% if banner.blockLink|length or banner.docLink|length %}
                        <div class="actions">
                            {% if banner.docLink|length %}
                            <md-button class="md-raised" href="{{ banner.docLink[0].url }}">{{ banner.blockButtonText|default('Show More'|t) }}</md-button>
                            {% else %}
                            <md-button class="md-raised" href="{{ banner.blockLink[0].url }}">{{ banner.blockButtonText|default('Show More'|t) }}</md-button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>