$bti-black: #002138;
$bti-red: #d82231;
$bti-cyan: #00aeef;
$bti-green: #79b93e;
$bti-magenta: #ec008c;
$bti-brown: #6d5e52;
$bti-yellow: #eedc00;
$bti-purple: #4f253d;
$bti-grey: #9fa1a4;


.bg-light{
  background-color:#f7f7f7;
}

.color--white {
  color: #fff !important;
}

.bti-color--black {
  background-color: $bti-black !important;
}

.bti-color-text--black {
  color: $bti-black !important;
}

.bti-color--red {
  background-color: $bti-red !important;
}

.bti-color-text--red {
  color: $bti-red !important;
}

.bti-color--cyan {
  background-color: $bti-cyan !important;
}

.bti-color-text--cyan {
  color: $bti-cyan !important;
}

.bti-color--green {
  background-color: $bti-green !important;
}

.bti-color-text--green {
  color: $bti-green !important;
}



.bti-color--purple {
  background-color: $bti-purple !important;
}

.bti-color-text--purple {
  color: $bti-purple !important;
}

.bti-color--brown {
  background-color: $bti-brown !important;
}

.bti-color-text--brown {
  color: $bti-brown !important;
}

.bti-color--yellow {
  background-color: $bti-yellow !important;
}

.bti-color-text--yellow {
  color: $bti-yellow !important;
}

.bti-color--grey {
  background-color: $bti-grey !important;
}

.bti-color-text--grey {
  color: $bti-grey !important;
}

.bti-color--lighter {
  color: rgba(#fff, 0.3) !important;
}

.bti-color-text--lighter {
  color: rgba(#fff, 0.2) !important;
}

.bti-color--darker {
  color: rgba(#000, 0.2) !important;
}

.bti-color-text--darker {
  color: rgba(#000, 0.2) !important;
}

.bti-color-text--darker-light {
  color: rgba(#000, 0.06) !important;
}

.mdl-color-text--white {
  .mdl-list {
    a {
      position: relative;
      color: #fff;
    }
    .mdl-list__item, li {
      //border-color: rgba(#000,0.2);
      border-color: #fff;
    }
  }
  .chapter-list {
    .heading {
      color: rgba(#000,0.4);
    }
    li {
      border-color: rgba(#fff, 0.87);
      a {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

.mdl-list.list--borders-top {
  .mdl-list__item, li {
    cursor: pointer;
    text-decoration: none;
    border-top-width: 1px;
    border-top-style: solid;
    //padding-left:0;
    font-weight: 500;
    &:first-child {
      //border:none;
    }
  }
}

.services-list {
  .mdl-list__item {
    padding: 10px !important;
  }
}

$fb-color:#3b5998;
$tw-color:#4099FF;
$li-color:#03659a;
.facebook-color svg{
  fill:$fb-color!important;
}
.twitter-color svg{
  fill:$tw-color!important;
}
.linkedin-color svg{
  fill:$li-color!important;
}
