// #app
#app{
  position:relative;
  //height:100%;
}
.app-content {
  position: relative;
  //overflow-y: auto;
  //overflow-x: hidden;
  //height: 100%;
  //display: block;
}


html,
body {
  height: 100%;
  //overflow: hidden;
}

#navc{
  z-index:100;
  position:fixed;
  width:100%;
  display: flex;
  height:64px;
  left:0;
  top:0;
}




.publication-title, h1.publication-title, .publication-title.header-title{
  //color: rgba(#fff, 0.99) !important;
  text-shadow: 1px 0 1px rgba(#000, 0.04);
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 16px;
  @include layout-small-and-up {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
}

.publication-title{
  border-bottom: 1px solid rgba(#000,0.2);
  margin-bottom: 0!important;
  padding-bottom: 24px;
}

//.banner-title {
//  text-shadow: 1px 0 1px rgba(#000, 0.05);
//  font-size: 28px;
//  line-height: 1.2;
//  margin-bottom: 8px;
//  @include layout-large-and-up {
//    font-weight: 500;
//    font-size: 36px;
//    margin-bottom: 24px;
//  }
//}

.page-subheader {
  background-color: #f8f8f8;
  min-height: 64px;
  margin-bottom: 40px;
}

.page-pager {
  .pages-counter {
    font-size: 14px;
    line-height: 1;
    opacity: .5;
    font-weight: 500;
    margin: 0 !important;
    text-transform: uppercase;
    white-space: nowrap;
  }
}



.page-footer {
  //min-height: 200px;
  background-color: #fff;
  //color:#999;
  //padding-top:40px;
  [class^="grid"]{
    [class^="col-"]{
      padding-bottom:40px;
    }
  }
}



.nav-list--inline {
  margin-top:24px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  a {
    color: #000;
    text-decoration:none;
    opacity: 0.8;
    font-weight: 500;
    margin-right:20px;

  }
}


.socials{
  .md-icon{
    opacity:0.4;
    margin-right: 8px;
  }
}