<div class="teaser">
    {% if block.blockShowIcons and item.infogIcon %}<div class="teaser-icon">{{item.infogIcon.inline }}</div>{% endif %}
    <div class="teaser-title t-color">
        {{ item.infogBig }}
        {% if item.infogM|length and block.blockShowMeter %}<span>{{ item.infogM }}</span>{% endif %}
    </div>
    <div class="teaser-text t-color">{{ item.infogText|length ? item.infogText }}</div>
    {% if showActions and item.infogLink %}
        <div class="actions">
            <md-button href="{{ item.infogLink }}" class="md-raised">{{ 'Show More'|t }}</md-button>
        </div>
    {% endif %}
</div>
