<swiper class="swiper--banners arrows--t-25p" :options="{
        roundLengths: true,
        slidesPerView:1,
        effect:'{{ block.swiperEffect is defined ? block.swiperEffect : 'fade' }}',
        {#autoplay:{{ block.swiperAutoplay is defined ? block.swiperAutoplay : '10000' }},#}
        loop:{{ block.swiperLoop is defined ? block.swiperLoop : 'false' }},
        centeredSlides:true,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',}">
    {% set many = true %}
    {% for banner in banners %}
        <swiper-slide class="height--">
            {% include "banners/_block.html" %}
        </swiper-slide>
    {% endfor %}
    <div class="swiper-pagination" slot="pagination"></div>
    <div class="swiper-button-prev" slot="button-prev"></div>
    <div class="swiper-button-next" slot="button-next"></div>
</swiper>
