<swiper class="swiper--quotes section-content arrows--t-25p" :options="{
'effect':'fade',
{#'crossfade':'true',#}
'loop':true,
'roundLengths': true,
'slidesPerView':1,
'centeredSlides':true,
pagination: '.swiper-pagination',
paginationClickable: true,
{#nextButton: '.swiper-button-next',#}
{#prevButton: '.swiper-button-prev',#}
autoplay:7000,
speed:500}">
    {% for item in qts %}
        <swiper-slide>
            <div class="quote">
                <div class="quote-text t-color">{{ item.quoteText }}</div>
                <div class="author t-color">{{ item.quoteAuthor }}
                    {% if item.quotePosition|length %}<br/>{{ item.quotePosition }}<br/>{% endif %}
                    {{ item.quoteCompany }}
                </div>
            </div>
        </swiper-slide>
    {% endfor %}
    <div class="swiper-pagination" slot="pagination"></div>
    <div class="swiper-button-prev" slot="button-prev"></div>
    <div class="swiper-button-next" slot="button-next"></div>
</swiper>
